html,
body {
    margin: 0;
    min-width: 100%;
    font-family: 'Poppins', sans-serif;
    background: whitesmoke;
}

*, *::before, *::after {
    box-sizing: border-box;
    }

.container,
a {
    display: flex;
}

.container {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    padding: 0 0.5em;
    background: white;
}

header {
    justify-content: space-between;
}

a {
    margin: 0 5px;
    padding: 1.5em 0;
    justify-content: center;
    align-items: center;
}

.icon,
.logo {
    width: 100%;
}

.icon {
    max-width: 35px;
}

.logo {
    max-width: 75px;
    height: 45%;
}

.dog-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.dog-img {
    border-radius: 15px;
    width: 100%;
    object-fit: contain;
}

.dog-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.dog-info-text,
.dog-bio-text {
    margin: 0;
}

.dog-info-text {
    color: white;
    font-size: 1.75rem;
}
.dog-bio-text {
    color: #B7B7B7;
    font-size: 1.25rem
}





