html,
body {
    margin: 0;
    min-width: 100%;
    font-family: 'Poppins', sans-serif;
}

main {
    max-width: 550px;
    margin: 2em auto;
    border: 2px solid #303030;
    border-radius: 15px;
    background: rgb(245, 245, 245);
}

*, *::before, *::after {
    box-sizing: border-box;
    }

.container,
a {
    display: flex;
}

.container {
    max-width: 500px;
    width: 100%;
    height: 100%;
    margin: 0 auto;

}

header {
    justify-content: space-between;
}

a {
    margin: 0 5px;
    padding: 1.5em 0;
    justify-content: center;
    align-items: center;
}

.icon,
.logo {
    width: 100%;
}

.icon {
    max-width: 35px;
}

.logo {
    max-width: 75px;
    height: 45%;
}

.dog-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.dog-img {
    border-radius: 15px;
    width: 100%;
    object-fit: contain;
}

.dog-text {
    position: absolute;
    height: fit-content;
    top: 85%;
    bottom: 0;
    left: 5%;
    right: 0;
    
}

.dog-info-text,
.dog-bio-text {
    margin: 0;
}

.dog-info-text {
    color: white;
    font-size: 1.75rem;
}
.dog-bio-text {
    color: #B7B7B7;
    font-size: 1.25rem
}

.choice-container {
    margin: 1em auto;
}

.choice-btn {
    background: white;
    border-radius: 50%;
    border: none;
    padding: 1.5em;
    margin-right: 1.25em;
}

.choice-btn img{
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
}
