html,
body {
    margin: 0;
    min-width: 100%;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(180deg, #FFF 0%, #F6F7FB 100%);
}

*, *::before, *::after {
    box-sizing: border-box;
    }

a,
button {
    cursor: pointer;
}

.container {
    display: flex;
    max-width: 500px;
    width: 95%;
    margin: 0.5em auto;

}

/* Heading Bar */
header {
    justify-content: space-between;
}

a {
    margin: 0 5px;
    padding: 1.5em 0;
    justify-content: center;
    align-items: center;
}

.icon {
    max-width: 35px;
}

.logo {
    max-width: 75px;
    height: 45%;
}

/* Dog section */

.dog-container {
    position: relative;
    width: 90vh;
    height: 70vh;
    margin: 0 auto;
    border-radius: 15px;
}

.dog-text-container {
    position: absolute;
    height: fit-content;
    width: fit-content;
    top: 80%;
    bottom: 0;
    left: 5%;
    right: 0;
}

.dog-info-text,
.dog-bio-text {
    margin: 0;
    text-shadow: 2px 2px 2px #2c2c2c;
}

.dog-info-text {
    color: white;
    font-size: 1.75rem;
}
.dog-bio-text {
    color: #B7B7B7;
    font-size: 1.25rem
}

/* Choice Buttons */

.choice-container {
    margin: 2em auto;
}

.choice-btn {
    background: white;
    border-radius: 50%;
    border: none;
    padding: 1.5em;
    margin-right: 1.25em;
}

.choice-btn:hover,
.choice-btn:active {
    background: #DBFFF4;
    filter: drop-shadow(0px 10px 20px #CCF1E6);
}

.choice-btn img{
    user-select: none;
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
}


/* Badge */

.badge-img {
    position: absolute;
    width: 40%;
    object-fit: contain;
    rotate: -30deg;
    top: 10%;
    left: 5%;
}